<section class="gray-section footer">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 text-center">
                <p>
                    <strong>
                        &copy; {{ site.title }}
                    </strong>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 text-center footer__legals">
                <p>
                    SARL au capital de 1000 euros - Inscrite au registre du commerce de Montpellier sous le n°808 997 803
                    <br> Siége social : {{ site.address }}
                </p>
            </div>
        </div>
    </div>
</section>