<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                    aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/" class="pull-left">
                    <img style="max-width:180px; margin-top: 4px;" src="/images/logo.png">
                </a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="{% if page.home %}active{% endif %}">
                        <a href="/">Accueil</a>
                    </li>
                    <li class="{% if page.url contains '/engagement_qualite/' %}active{% endif %}">
                        <a href="/engagement_qualite/">Engagement qualité</a>
                    </li>
                    <li class="{% if page.url contains '/references/' %}active{% endif %}">
                        <a href="/references/">Nos references</a>
                    </li>
                    <li class="{% if page.url contains '/on_recrute/' %}active{% endif %}">
                        <a href="/on_recrute/">On recrute</a>
                    </li>
                    <li>
                        <a title="contact" href="/#contact">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>