@import url("//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&amp;lang=en");

body {
    color: #676a6c;
    font-family: 'Open Sans', helvetica, arial, sans-serif;
    line-height: 1.6;
    font-size: 16px;
}

span.navy {
    color: #CE2C2A;
}

p.text-color {
    color: #676a6c;
}

a.navy-link {
    color: #CE2C2A;
    text-decoration: none;
}

a.navy-link:hover {
    color: #E47B7A;
}

section {
    padding-top: 50px;
}

section p {
    color: #7B7B7B;
    font-size: 14px;
}

.legals {
    padding-bottom: 40px;
}

.copyright p {
    font-size: 12px;
}

address {
    font-size: 18px;
}

.navy-line {
    width: 60px;
    height: 1px;
    margin: 100px auto 0;
    border-bottom: 2px solid #CE2C2A;
}

small {
    color: #CE2C2A;
}

.navbar {
    margin-bottom: 0;
    padding: 10px 0;
}

/* BACKGROUNDS SLIDER
-------------------------------------------------- */
.hero {
    background: url('../images/header.png') repeat 0 0;
}

.hero, .hero p {
    color: white;
    font-weight: 700;
    text-transform: uppercase;
    text-shadow: none;
}

.hero h1 {
    font-weight: 700;
    font-size: 38px;
    text-transform: uppercase;
    text-shadow: none;
    letter-spacing: -1.5px;
}

@media (min-width: 768px) {
    .hero {
        padding-top: 100px;

        padding-bottom: 140px;
    }
}

.thumbnail {
    border: none;
    box-shadow: none;
}

.gray-section {
    background: #f4f4f4;
    margin-top: 60px;
}


/* Buttons - only primary custom button
------------------------- */
.btn-primary.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover {
    color: #fff;
}

.btn-primary {
    background-color: #CE2C2A;
    border-color: #CE2C2A;
    color: #FFFFFF;
    font-size: 14px;
    padding: 10px 20px;
    font-weight: 600;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    background-color: #E47B7A;
    border-color: #E47B7A;
    color: #FFFFFF;
}

.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    background-image: none;
}